---
const title = Astro.props.title;
const subtitle = Astro.props.subtitle;
---

<header class="relative md:h-[450px] h-[350px] w-full overflow-hidden">
  <slot />
  <div
    class="absolute inset-0 bg-gradient-to-b from-black/60 via-black/50 to-black/70"
  >
  </div>
  <div
    class="relative h-full flex flex-col items-center justify-center space-y-4"
  >
    <div class="inline-block animate-fade-in-down mb-6">
      <h2
        class="text-white bg-transparent text-3xl font-semibold tracking-wide uppercase"
      >
        {title}
      </h2>
    </div>
    <p
      class="text-white/90 text-lg md:text-xl text-center px-4 max-w-2xl animate-fade-in-delay"
    >
      {subtitle}
    </p>
  </div>
</header>
